<header class="g-header">
    <div class="g-logo">
        <a href="{{ "/" | relative_url }}"></a>
    </div>
    <i id="menu-toggle" class="iconfont icon-menu"></i>
    <span style="display: none;" id="language">{{page.language}}</span>
    <nav class="g-nav">
        <ul>
		<!--
            <li>
                 
                {% if page.language == 'zh' %}
                <a href="../en/{{page.title}}.html">En</a>
                {% endif %}
                {% if page.language == 'en' %}
                <a href="../zh/{{page.title}}.html">中</a>
                {% endif %}
            </li>
			 -->
			{% for la in site.lang %}
			{% for sl in page.supportLang %}
			{% if la == sl %}
			<li><a href="../{{ la }}/{{ page.title }}.html">{{ la }}</a></li>
			{% endif %}
			{% endfor %}
			{% endfor %}
            {% for i in site.nav %}
            <li><a href="{{ i[1] | relative_url}}">{{ i[0] }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <script>
    </script>
</header>