<!DOCTYPE html>
<html>
{% include post-head.html %}

<body>
  <!--[if lt IE 10]>
<div class="alert-danger" role="alert">你的浏览器实在太太太旧了，放学别走，升级完浏览器再说！<a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->
  <input id="nm-switch" type="hidden" value="{{ site.nightMode }}"> {% include header.html %}

  <header
    class="g-banner post-header {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }} {% unless page.cover %}post-no-cover{% endunless %}"
    data-theme="{{ site.theme-color }}"
  >
    <div class="post-wrapper">
      <div class="post-tags">
        {% if page.tags.size > 0 %}
          {% for tag in page.tags  %}
            <a href="{{ "/tags.html#" | append: tag | relative_url }}" class="post-tag">{{ tag }}</a>
          {% endfor %}
        {% endif %}
      </div>
      <h1>{{ page.title }}</h1>
      <div class="post-meta">
        <span class="post-meta-item"><i class="iconfont icon-author"></i>{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</span>
        <time id="fbtime" class="post-meta-item" datetime="{{ page.date | date:"%y-%m-%d %h:%s:%m" }}"><i class="iconfont icon-date"></i>{{ page.date | date_to_string }}</time>
        <div style="margin-top:40px;">
          本文字数大约为：{{ page.content | strip_html | strip_newlines | remove: " " | size }}，预计需要您花费{{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1 }} 分钟
        </div>
        <div style="margin-top:40px;">
           <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
           <span id="busuanzi_container_site_pv">本文总访问量<span id="busuanzi_value_site_pv"></span>次</span>
        </div>
        <div id="time" style="margin-top:20px;"> </div>
      </div>
    </div>
    {% if page.cover %}
    <div class="filter"></div>
      <div class="post-cover" style="background: url('{{ page.cover | relative_url }}') center no-repeat; background-size: cover;"></div>
    {% endif %}
  </header>

  <div class="post-content visible">
    {% if page.subtitle %}
    <h2 class="post-subtitle">{{ page.subtitle }}</h2>
    {% endif %}

    <article class="markdown-body">
      {{ page.content }}
    </article>

    {% if site.social-share %}
    <div class="social-share-wrapper">
      <div class="social-share"></div>
    </div>
    {% endif %}
  </div>

  <section class="author-detail">
    <section class="post-footer-item author-card">
      <div class="avatar">
        <img src="{{ site.avatar | relative_url }}" alt="">
      </div>
      <div class="author-name" rel="author">{{ site.author }}</div>
      <div class="bio">
        <p>{{ site.bio }}</p>
      </div>
      {% if site.sns.size > 0 %}
      <ul class="sns-links">
        {% for s in site.sns %}
        <li>
          <a href="{{ s[1] }}" target="_blank">
                    <i class="iconfont icon-{{ s[0] }}"></i>
                </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </section>
    <section class="post-footer-item read-next">
      {% if page.next.url %}
      <div class="read-next-item">
        <a href="{{ page.next.url | relative_url }}" class="read-next-link"></a>
        <section>
          <span>{{ page.next.title }}</span>
          <p>{{ page.next.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
        </section>
        {% if page.next.cover %}
        <div class="filter"></div>
        <img src="{{ page.next.cover | relative_url }}" alt="">
        {% endif %}
     </div>
      {% endif %}

      {% if page.previous.url %}
      <div class="read-next-item">
        <a href="{{ page.previous.url | relative_url }}" class="read-next-link"></a>
          <section>
            <span>{{ page.previous.title }}</span>
            <p>{{ page.previous.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
          </section>
          {% if page.previous.cover %}
          <div class="filter"></div>
          <img src="{{ page.previous.cover | relative_url }}" alt="">
          {% endif %}
      </div>
      {% endif %}
    </section>
    {% if site.comments.disqus %}
    <section class="post-footer-item comment">
        <div id="disqus_thread"></div>
    </section>
    {% endif %}
  </section>

  {% include footer.html %}

  <script src="{{ "/assets/js/social-share.min.js" | relative_url }}"></script>
  <script>
    socialShare('.social-share', {
      sites: [
        {% for i in site.social-share-items %}
          '{{ i }}'
          {% if forloop.last == false %},
          {% endif %}
        {% endfor %}
      ],
      wechatQrcodeTitle: "分享到微信朋友圈",
      wechatQrcodeHelper: '<p>扫码后点击右上角</p><p>将本文分享至朋友圈</p>'
    });
  </script>
  
  <script>
	//获取指定时区时间
	function getTimeZoneDate(timezone) {
		var offset_GMT = new Date().getTimezoneOffset(); // 本地时间和格林威治的时间差，单位为分钟
		var nowDate = new Date().getTime(); // 本地时间距 1970 年 1 月 1 日午夜（GMT 时间）之间的毫秒数
		var targetDate = new Date(nowDate + offset_GMT * 60 * 1000 + timezone * 60 * 60 * 1000);
		return targetDate;
	}
	//根据传入时间，转换差异时区时间
        function getTimeZoneDate2(date, timezone) {
            var nowDate = date.getTime(); // 当前时间距 1970 年 1 月 1 日午夜（GMT 时间）之间的毫秒数
            var targetDate = new Date(nowDate - timezone * 60 * 60 * 1000);
            return targetDate;
        }
 
        //获取当前时区
        function getCurrentZone() {
            var timezone = new Date().getTimezoneOffset() / 60 * -1;//获取时区; //目标时区时间，东八区   东时区正数 西市区负数
            return timezone;
        }
 
        //时间格式化
        function formatDate2Str(date) {
            //输出时间
            var yy = date.getFullYear()
            var MM = date.getMonth() + 1
 
            // +1使用new Date(YYYY,MM,DD,hh,mm,ss)这种方式月数不会默认-1但是使用new Date('YYYY-MM-DD hh:mm:ss')会默认-1
            MM = MM < 10 ? '0' + MM : MM
            var dd = date.getDate()
            dd = dd < 10 ? '0' + dd : dd
            var hh = date.getHours()
            hh = hh < 10 ? '0' + hh : hh
            var mm = date.getMinutes()
            mm = mm < 10 ? '0' + mm : mm
            var ss = date.getSeconds()
            ss = ss < 10 ? '0' + ss : ss
            return yy + '-' + MM + '-' + dd + ' ' + hh + ':' + mm + ':' + ss;
        }
 
        //获取当前时区名称
        function getZoneName() {
            var tmSummer = new Date(Date.UTC(2005, 6, 30, 0, 0, 0, 0));
            var so = -1 * tmSummer.getTimezoneOffset();
            var tmWinter = new Date(Date.UTC(2005, 12, 30, 0, 0, 0, 0));
            var wo = -1 * tmWinter.getTimezoneOffset();
            console.log(so + " " + wo);
            if (-660 == so && -660 == wo) return 'Pacific/Midway';
            if (-600 == so && -600 == wo) return 'Pacific/Tahiti';
            if (-570 == so && -570 == wo) return 'Pacific/Marquesas';
            if (-540 == so && -600 == wo) return 'America/Adak';
            if (-540 == so && -540 == wo) return 'Pacific/Gambier';
            if (-480 == so && -540 == wo) return 'US/Alaska';
            if (-480 == so && -480 == wo) return 'Pacific/Pitcairn';
            if (-420 == so && -480 == wo) return 'US/Pacific';
            if (-420 == so && -420 == wo) return 'US/Arizona';
            if (-360 == so && -420 == wo) return 'US/Mountain';
            if (-360 == so && -360 == wo) return 'America/Guatemala';
            if (-360 == so && -300 == wo) return 'Pacific/Easter';
            if (-300 == so && -360 == wo) return 'US/Central';
            if (-300 == so && -300 == wo) return 'America/Bogota';
            if (-240 == so && -300 == wo) return 'US/Eastern';
            if (-240 == so && -240 == wo) return 'America/Caracas';
            if (-240 == so && -180 == wo) return 'America/Santiago';
            if (-180 == so && -240 == wo) return 'Canada/Atlantic';
            if (-180 == so && -180 == wo) return 'America/Montevideo';
            if (-180 == so && -120 == wo) return 'America/Sao_Paulo';
            if (-150 == so && -210 == wo) return 'America/St_Johns';
            if (-120 == so && -180 == wo) return 'America/Godthab';
            if (-120 == so && -120 == wo) return 'America/Noronha';
            if (-60 == so && -60 == wo) return 'Atlantic/Cape_Verde';
            if (0 == so && -60 == wo) return 'Atlantic/Azores';
            if (0 == so && 0 == wo) return 'Africa/Casablanca';
            if (60 == so && 0 == wo) return 'Europe/London';
            if (60 == so && 60 == wo) return 'Africa/Algiers';
            if (60 == so && 120 == wo) return 'Africa/Windhoek';
            if (120 == so && 60 == wo) return 'Europe/Amsterdam';
            if (120 == so && 120 == wo) return 'Africa/Harare';
            if (180 == so && 120 == wo) return 'Europe/Athens';
            if (180 == so && 180 == wo) return 'Africa/Nairobi';
            if (240 == so && 180 == wo) return 'Europe/Moscow';
            if (240 == so && 240 == wo) return 'Asia/Dubai';
            if (270 == so && 210 == wo) return 'Asia/Tehran';
            if (270 == so && 270 == wo) return 'Asia/Kabul';
            if (300 == so && 240 == wo) return 'Asia/Baku';
            if (300 == so && 300 == wo) return 'Asia/Karachi';
            if (330 == so && 330 == wo) return 'Asia/Calcutta';
            if (345 == so && 345 == wo) return 'Asia/Katmandu';
            if (360 == so && 300 == wo) return 'Asia/Yekaterinburg';
            if (360 == so && 360 == wo) return 'Asia/Colombo';
            if (390 == so && 390 == wo) return 'Asia/Rangoon';
            if (420 == so && 360 == wo) return 'Asia/Almaty';
            if (420 == so && 420 == wo) return 'Asia/Bangkok';
            if (480 == so && 420 == wo) return 'Asia/Krasnoyarsk';
            if (480 == so && 480 == wo) return 'Beijing';//return 'Australia/Perth';
            if (540 == so && 480 == wo) return 'Asia/Irkutsk';
            if (540 == so && 540 == wo) return 'Asia/Tokyo';
            if (570 == so && 570 == wo) return 'Australia/Darwin';
            if (570 == so && 630 == wo) return 'Australia/Adelaide';
            if (600 == so && 540 == wo) return 'Asia/Yakutsk';
            if (600 == so && 600 == wo) return 'Australia/Brisbane';
            if (600 == so && 660 == wo) return 'Australia/Sydney';
            if (630 == so && 660 == wo) return 'Australia/Lord_Howe';
            if (660 == so && 600 == wo) return 'Asia/Vladivostok';
            if (660 == so && 660 == wo) return 'Pacific/Guadalcanal';
            if (690 == so && 690 == wo) return 'Pacific/Norfolk';
            if (720 == so && 660 == wo) return 'Asia/Magadan';
            if (720 == so && 720 == wo) return 'Pacific/Fiji';
            if (720 == so && 780 == wo) return 'Pacific/Auckland';
            if (765 == so && 825 == wo) return 'Pacific/Chatham';
            if (780 == so && 780 == wo) return 'Pacific/Enderbury'
            if (840 == so && 840 == wo) return 'Pacific/Kiritimati';
            return 'US/Pacific';
        }
 
        //根据北京时间，转换成当前时区时间
        function calcBeiJing2CurrentZoneTime(bjTime) {
            var bjZone = 8;//中国时区
            var timezone = getCurrentZone();// 当前时区 ,美国 -4，中国 8
            var dt = getTimeZoneDate2(bjTime, bjZone - timezone);
            var str = formatDate2Str(dt);
            console.log(str);
            return str;
        }	

    window.onload=function(){

    //定时器每秒调用一次fnDate()
    setInterval(function(){
    fnDate();
    },1000);
    }

    //js 获取当前时间
    function fnDate(){
    var oDiv=document.getElementById("time");
    var date=new Date();
    var year=date.getFullYear();//当前年份
    var month=date.getMonth();//当前月份
    var data=date.getDate();//天
    var hours=date.getHours();//小时
    var minute=date.getMinutes();//分
    var second=date.getSeconds();//秒
    //var time=year+"-"+fnW((month+1))+"-"+fnW(data)+" "+fnW(hours)+":"+fnW(minute)+":"+fnW(second);
	var beijingtime = new Date("2022-03-30 11:20:12");
	var lastTime = calcBeiJing2CurrentZoneTime(beijingtime)
    oDiv.innerHTML=lastTime;
	var fbtime1 = new Date(document.getElementById('fbtime'))
	console.log("原本的发布时间："+fabutime1);
	var testTime = calcBeiJing2CurrentZoneTime(fbtime1)
	console.log("计算后的发布时间："+testTime);
	document.getElementById('fbtime').innerHTML=testTime
	
	// 获取当前时区
	//var timezone = getCurrentZone();
	//var beijingtime = new Date("2022-03-30 11:20:12");
	//calcBeiJing2CurrentZoneTime(beijingtime);
    }
    //补位 当某个字段不是两位数时补0
    function fnW(str){
    var num;
    str>=10?num=str:num="0"+str;
    return num;
    }


  </script>

  {% if site.comments.disqus %}
  <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '{{ site.comments.disqus_url }}';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  {% endif %}

  <script src="{{ "/assets/js/prism.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/index.min.js" | relative_url }}"></script>
</body>

</html>
